.customer_table{
    padding: 1rem;
}
table{
    width: 100%;
    
}
tbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
tr{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    border: 2px solid black;
    
    
}
th,
td{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    
    width: 100%;
    
   
    text-align:left;
    align-items: flex-start;
    
    word-break: break-all;
    
    
}


