.OrderForm{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    gap: 20px;
    
    font-size: 1.2rem;
}
.submit_order_btn{
    background-color: rgb(180, 58, 119);
    border-radius: 2rem;
    border: none;
    transition: background-color 1s ease;
    width: 8rem;
    height: 4rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    position: relative;
    top: 1.5rem;
    font-size: 1.4rem;
}
.submit_order_btn:hover {
    background-color: hotpink;
    transform: scale(1.01);
  }